{include file="public/header" /}
<style type="text/css">
	.img{cursor: pointer;}
</style>
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">

	    <span class="layui-breadcrumb">
		  <a href="{:url('Index/index')}">首页</a>
		  <a href="{:url('Price/add')}">区间管理添加</a>		 
		</span>
		
	<form class="layui-form" action="" style="margin-top: 20px;">

	<input type="hidden" name="pic" id="pic">
	  <div class="layui-form-item">
	    <label class="layui-form-label">区间管理</label>
	    <div class="layui-input-block">
	      <input type="text" name="price" required  lay-verify="required|title" placeholder="请输入区间管理类型" autocomplete="off" class="layui-input">
	    </div>
	  </div>
	
	<div class="layui-form-item">
	    <label class="layui-form-label">区间排序</label>
	    <div class="layui-input-block">
	      <input type="text" name="sort" required  lay-verify="required|number" placeholder="请输入区间排序" autocomplete="off" class="layui-input">
	    </div>
	  </div>
	  
	  <div class="layui-form-item">
	    <div class="layui-input-block">
	      <button type="button" class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
	      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
	    </div>
	  </div>
	</form>
		<script>
			layui.use(['form','jquery','upload'], function(){
			  var form = layui.form,$=layui.jquery;
		  	

			 //自定义验证规则
				form.verify({
					title: [/^[\S]{2,12}$/,'名称必须2到12位'],
				});

			  //监听提交
			  form.on('submit(formDemo)', function(data){
			  	var data=JSON.stringify(data.field)
			   $.post("{:url('Price/add')}",{'date':data},function(res){
			   	if (res.code==1) {
			   		layer.msg(res.msg,{icon:1,time:500},function(){
			   			window.location.href="{:url('Price/index')}";
			   		})
			   	}else{
			   		layer.msg(res.msg);
			   	}
			   })
			    return false;
			  });
			});
			</script> 
	</div>
  </div>
  
{include file="public/footer" /}