<div class="kaola-bottom">
		<a href="{:url('Index/index')}" class="kaola-bottom-box1">
			<span class="kaola-bottom-img1">{eq name="cname" value="index"}<img src="images/home.png">{else/}<img src="images/home2.png">{/eq}</span>
			<span class="kaola-bottom-text1 {eq name="cname" value="index"}text2{/eq}">首页</span>
		</a>
		<a href="{:url('Goods/index')}" class="kaola-bottom-box1">
			<span class="kaola-bottom-img1">{eq name="cname" value="goods"}<img src="images/search2.png">{else/}<img src="images/search3.png">{/eq}</span>
			<span class="kaola-bottom-text1 {eq name="cname" value="goods"}text2{/eq}">分类</span>
		</a>
		<a href="{:url('Cart/index')}" class="kaola-bottom-box1">
			<span class="kaola-bottom-img1">{eq name="cname" value="cart"}<img src="images/shop-cart2.png">{else/}<img src="images/shop-cart1.png">{/eq}</span>
			<span class="kaola-bottom-text1 {eq name="cname" value="cart"}text2{/eq}">购物车</span>
		</a>
		<a href="{:url('Vip/index')}" class="kaola-bottom-box1">
			<span class="kaola-bottom-img1">{eq name="cname" value="vip"}<img src="images/people2.png">{else/}<img src="images/people1.png">{/eq}</span>
			<span class="kaola-bottom-text1 {eq name="cname" value="vip"}text2{/eq}">我的</span>
		</a>
</div>